/* * {
  box-sizing: border-box;
} */

body {
  background-color: black;
  margin: 0 0 10px 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  box-sizing: border-box;
}

#checkboxLabel {
  color: white;
}

options {
  display: block;
  padding: 10px 0;
  height: 10px;
}

options select {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

options button {
  position: absolute;
  left: 96%;
  transform: translateX(-100%);
  width: 85px;
}

seriesHolder {
  margin: auto;
  padding: 2rem;
  display: block;
}

series {
  margin: 0.5rem;
  border-radius: 5px;
  width: 250px;
  height: 375px;
  background-color: gray;
  overflow: hidden;
  cursor: pointer;
  background-size: cover;
  background-position-x: center;
  transition: transform 1s;
  transition-timing-function: ease;
}

series:hover {    
  transform: scale3d(1.1, 1.1, 0.5);
  box-shadow: 0px 0px 7px 4px lightskyblue;
  z-index: 1;
  position: relative;
}

series name {
  position: relative;
  text-align: center;
  font-size: large;
  background-color: rgba(100,100,100,0.9);
  display: block;
  padding: 10px;
  top: 376px;
  font-weight: bolder;
  transition: top 1s;
  transition-timing-function: ease;
}

series:hover name {
  top: 285px;
}