body {
  background-color: black;
  margin: 0;
  color: white;
}

options {
  display: block;
  padding: 10px 0;
  height: 50px;
}

options button {position: absolute;}

options #back {
  left: 4%;
}

options #action {
  left: 96%;
  transform: translateX(-100%);
  width: 125px;
}

series {
  margin: auto;
  display: block;
  padding: 0 100px;
}

header {
  width: 250px;
  height: 375px;
  border-radius: 5px;
  background-size: cover;
  background-position-x: center;
}

header name {
  display: block;
  position: relative;
  left: 265px;
  top: 317px;
  font-size: 30px;
  width: 400px;
}

header seasons {
  display: block;
  position: relative;
  left: 265px;
  top: 320px;
}

desc {
  display: block;
  padding: 10px;
  margin-top: 18px;
}


watchInfo {
  position: absolute;
  background-color: gray;
  top: 100px;
  right: 137px;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
}

watchInfo p {
  margin: 0 0 10px 0;
  text-align: center;
  font-size: 18px;
}

watchInfo button {
  padding: 9px 0;
  width: 100%;
}

watchInfo span {
  padding: 8px 0;
}

grid21 {
  display: grid;
  grid-template-columns: 125px 125px;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header"
    "main setBtn";
}

grid21 * {
  display: block;
}

grid21 .header {grid-area: header;}
grid21 .main {grid-area: main;}
grid21 .setBtn {grid-area: setBtn;}

cbutton {
  background-color: rgb(100, 100, 100);
  display: block;
  text-align: center;
  padding: 5px 0;
  width: 100px;
  margin: auto;
  border-radius: 3px;
  cursor: default;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

cbutton:hover {
  background-color: rgb(110, 110, 110);
}